<footer class="bg-dark pb-[3.22rem] pt-[2.8rem]">
  <div class="container grid grid-cols-1 justify-between gap-6 sm:grid-cols-3 xl:grid-cols-4">
    <div class="flex h-full flex-row gap-8 max-xl:order-last max-xl:col-span-full xl:flex-col">
      <a href="/" class="mb-auto w-24">
        <img src="./img/logo-footer.svg" alt="xwear" />
      </a>
      <div class="flex flex-col gap-1">
        <a href="" class="text-[10px] leading-tight sm:text-xs uppercase text-light-gray/70 underline transition-colors hover:text-light-gray"
          >політика конфіденційності</a
        >
        <a href="" class="text-[10px] leading-tight sm:text-xs uppercase text-light-gray/70 underline transition-colors hover:text-light-gray"
          >угода користувача</a
        >
      </div>
    </div>
    <div class="sm:border-none border-b border-white/20 pb-4">
      <div role="button" data-spoiler class="flex items-center justify-between gap-3">
        <h2 class="font-black uppercase text-white">Каталог</h2>
        <svg class="block sm:hidden h-3 w-3 fill-white/80 transitions-all duration-300">
          <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
        </svg>
      </div>
      <div class="sm:max-h-none max-h-0 overflow-hidden transition-all duration-300">
        <ul class="flex flex-col gap-1 pt-3">
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">Одяг</a>
          </li>
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">Взуття</a>
          </li>
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">Аксесуари</a>
          </li>
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">Розрахувати вартість</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sm:border-none border-b border-white/20 pb-4">
      <div role="button" data-spoiler class="flex items-center justify-between gap-3">
        <h2 class="font-black uppercase text-white">Інформація</h2>
        <svg class="block sm:hidden h-3 w-3 fill-white/80 transitions-all duration-300">
          <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
        </svg>
      </div>
      <div class="sm:max-h-none max-h-0 overflow-hidden transition-all duration-300">
        <ul class="flex flex-col gap-1 pt-3">
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">Контакти</a>
          </li>
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">Доставка</a>
          </li>
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">Оплата</a>
          </li>
          <li>
            <a href="" class="text-sm text-white/90 transition-colors hover:text-primary">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sm:border-none border-b border-white/20 pb-4">
      <div role="button" data-spoiler class="flex items-center justify-between gap-3">
        <h2 class="font-black uppercase text-white">Контакти</h2>
        <svg class="block sm:hidden h-3 w-3 fill-white/80 transitions-all duration-300">
          <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
        </svg>
      </div>
      <div class="sm:max-h-none max-h-0 overflow-hidden transition-all duration-300">
        <ul class="flex flex-col gap-1 pt-3">
          <li>
            <a href="mailto:info@xwear.info" class="text-sm text-white/90 transition-colors hover:text-primary"
              >info@xwear.info</a
            >
          </li>
          <li>
            <a href="0663169491" class="text-sm text-white/90 transition-colors hover:text-primary">+380 66 316 9491</a>
          </li>
          <li>
            <h3 class="mb-4 mt-3 text-xs font-extrabold uppercase text-white">Месенджери</h3>
            <div class="flex gap-3">
              <a href="#">
                <img src="./img/telegram-icon.svg" alt="telegram" title="telegram" />
              </a>
              <a href="#">
                <img src="./img/watsup-icon.svg" alt="watsup" title="watsup" />
              </a>
            </div>
          </li>
          <li>
            <h3 class="mb-4 mt-3 text-xs font-extrabold uppercase text-white">Соц. мережі</h3>
            <div class="flex gap-3">
              <a href="#">
                <img src="./img/instagram-icon.svg" alt="instagram" title="instagram" />
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
