<head>
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<!-- Define a description of your web page (unique, doesn`t exceed 150 characters): -->
	<meta name="description" content="Site description" />

	<!-- Define keywords for search engines: -->
	<meta name="keywords" content="Site keywords" />

	<!-- Define the author of a page: -->
	<!-- <meta name="author" content="Дмитро Фролов" /> -->

	<link rel="icon" href="./img/ico/favicon.ico">
	<link href="./css/style.min.css" rel="stylesheet" />
	<title>@@title</title>
</head>

