<!-- 
<button data-micromodal-trigger="demo-modal" type="button">Open MODAL</button>

<div class="modal" id="demo-modal" aria-hidden="true" data-micromodal-close>
   <div class="modal__body">
      <div
         class="modal__content"
         role="dialog"
         aria-modal="true"
         aria-labelledby="demo-modal-title-1"
      >
         <div class="modal__header">
            <p class="modal__title" id="demo-modal-title-1"></p>
         </div>
         <div class="modal__main"></div>
         <div class="modal__footer">
            <button class="modal__close" aria-label="Закрити вікно" data-micromodal-close>
               Закрити
            </button>
         </div>
      </div>
   </div>
</div>
 -->